/* * {
  outline: red 1px solid;
} */

.gradient-circle {
  height: 820px;
  width: 820px;
  border-radius: 50%;
  position: absolute;
  /* transform-origin: center;*/
  bottom: -20%;
  left: -15%;

  background: linear-gradient(#2b4afb, #0f6fff75 80%, #0f6fff00);
  opacity: 1;
  filter: blur(200px);
}

#style-1::-webkit-scrollbar-track {
  margin: 5;
  border-radius: 10px;
  background-color: rgba(43, 74, 251, 0.01);
  box-shadow: -1px 0px 5px 0px rgba(43,74,251,0.5);
}

#style-1::-webkit-scrollbar {
  height: 12px;
  background-color: rgba(43,74,251,0.01);
  box-shadow: -1px 0px 5px 0px rgba(43,74,251,0.5);
  border-radius: 10px;
}

#style-1::-webkit-scrollbar-thumb {
  margin: 5;
  border-radius: 10px;
  background-color: #2b4afb;
}

@keyframes hideContentLeft {
  0% {
    left: 0px;
    opacity: 1;
  }
  99%{
    left: -100px;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes hideContentRight {
  0% {
    right: 0px;
    opacity: 1;
  }
  99%{
    right: 100px;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes showContentLeft {
  0% {
    display: none;
    left: -100px;
    opacity: 0;
  }
  1%{
    display: flex;
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes showContentRight {
  0% {
    display: none;
    right: 100px;
    opacity: 0;
  }
  1%{
    
    display: flex;
    right: 100px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}



.animate-hideContentLeft{
  transition: all;
  animation: hideContentLeft 0.5s ease forwards 0.5s;

}

.animate-showContentLeft{
  transition: all;
  animation: showContentLeft 0.5s ease forwards 0.5s;

}

.animate-hideContentRight{
  transition: all;
  animation: hideContentRight 0.5s ease forwards 0.5s;

}

.animate-showContentRight{
  transition: all;
  animation: showContentRight 0.5s ease forwards 0.5s;

}
