.sponsor {
    width: 100%;
    color: white;
}

.sponsor_content {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.sponsor_infos {
    max-width: 1074px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
}

.sponsor_desc {
    max-width: 1074px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    font-size: 20px;
}

.sponsor_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: center; */
    /* min-height: 75dvh; */
    padding: 200px 0;
}

.sponsor_info_title {
    width: 50%;
    padding-right: 10%;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
}

.sponsor_info_content {
    flex: 1;
    font-size: 20px;
}
