.profile_banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: 250px;
    z-index: 5;
}

.profile {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 100px;
    color: white;
    max-width: 1400px;
}

.profile_banner img {
    width: 100%;
}

.profile_card {
    padding: 24px;
    max-width: 340px;
    border-radius: 0 0 12px 12px;
    background: #0B0B0B;
}

.profile_card_img_icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.profile_card_img_icon svg {
    height: 24px;
}

.profile_image {
    position: relative;
    z-index: 10;
    height: 178px;
    width: 178px;
    border-radius: 100%;
    overflow: hidden;
}

.profile_image img {
    width: 100%;

}

.profile_infos,
.profile_contact {
    margin-top: 32px;
}

.profile_infos_name,
.profile_contact_title {
    margin-top: 12px;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
}

.profile_infos_age {
    margin-top: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

}

.profile_contact_email {
    margin-top: 12px;
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}

.profile_infos_location {
    margin-top: 12px;
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}

.profile_desc,
.profile_contact_rs {
    margin-top: 12px;
}

.profile_desc {
    text-align: justify;
}

.profile_list {
    width: 100%;
}
