.marketContainer {
  padding: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.newSponsorContainer {
  width: 95%;
  height: 30vh;
  max-height: 30vh;
  background-color: rgba(11, 11, 11, 0.86);
  border-radius: 10px;
  filter: drop-shadow(-19px 4px 24px rgba(255, 255, 255, 0.04));
  display: flex;
  flex-direction: column;
  padding: 16px;
  /* align-items: center; */
}
.newCardContainer {
  display: flex;
  align-items: center;
  height: 100%;
}
.sectionCardTitle {
  font-weight: 600;
  font-size: 1.75vh;
}

.carouselCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 0 20px; */
  width: 100%;
  height: 75%;
}

.logoKascad {
  height: 65%;
}

.card {
  height: 100%;

  width: 30vh;
  border-radius: 10px;
  background: linear-gradient(90deg, #212121, #0b0b0b);
  filter: drop-shadow(-6px 0px 36px rgba(255, 255, 255, 0.14));
  margin-left: 20px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cardActionMenu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardActionMenu img {
  cursor: pointer;
}

.contactLogo {
  width: 8%;
}

.saveLogo {
  width: 6%;
}

.cardBrandLogo {
  width: 70%;
  max-height: 55%;
}
